---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Blog"
---
<style>
.container {
  display: flex; /* Use flexbox layout */
}


.options {
  width: 66.66%; 
}


.tagsdiv {
    display: block;
    flex-wrap: wrap;
    width: 33.33%;
    height: 25px;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
  h4 {
    width: 100%;
  }

  .tag a:hover {
  background-color: #e0e0e0; /* Darken background color on hover */
}
</style>
<BaseLayout pageTitle={pageTitle}>
  <div>


    <p>This is where I will post about my journey learning Astro.</p>
    <div class="container">
        <div class="options">
            <ul>
                {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} image={post.data.image}/>)}
         </ul>
        </div>
        <div class="tagsdiv">
            <h4>Sort by Tags: </h4>
            {tags.map((tag) => (
                <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
            ))}
        </div>
    </div>

  </div>
</BaseLayout>